<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><strong>Confirmation</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="square"><br>
    <ion-label color="secondary"><strong>THU</strong></ion-label><br>
    <ion-label color="secondary"><strong>Mar 20</strong></ion-label><br>
    <ion-label color="secondary"><strong>{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</strong></ion-label>
  </div>
  <div class="position-fixed">
    <ion-label><strong>{{doctor?.firstName}}</strong> </ion-label><br><br>
    <ion-label color="secondary">{{doctor?.specialization}} -
      {{currentDate.getFullYear()-doctor?.practiceSince?.split('-')[0]}} Years of Exp</ion-label>
  </div>
  <ion-item lines="none">
    <ion-label color="secondary"><strong>Payment Details</strong></ion-label><br>
  </ion-item>
  <ion-list lines="none">
    <ion-item>
      <ion-label slot="start">Service Fee</ion-label>
      <ion-label slot="end">{{doctor?.paymentSettings?.amount}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-radio-group [(ngModel)]="paymentMethod">
      <ion-list-header>
        <ion-label>Choose A Payment Method</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Card</ion-label>
        <ion-radio slot="start" value="card"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Netbanking</ion-label>
        <ion-radio slot="start" value="netbanking"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Wallet Paytm/Citrus</ion-label>
        <ion-radio slot="start" value="wallet"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>UPI PhonePe/Google Pay</ion-label>
        <ion-radio slot="start" value="upi"></ion-radio>
      </ion-item>

      <ion-item *ngIf="doctor?.paymentSettings?.isPaymentEnabled==false" >
        <ion-label>Pay On Consultation</ion-label>
        <ion-radio slot="start" value="poc"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button expand="block" [disabled]="paymentMethod==undefined" (click)="proceedToPay()">Continue</ion-button>
    </ion-col>
  </ion-row>
  <!-- <ion-footer>
    <app-footer></app-footer>
  </ion-footer> -->
</ion-content>