<ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      
      <!--<ion-title>
        Ayoos
      </ion-title>-->
      <ion-icon name="notifications" slot="end" class="larger-bookmark" margin-bottom></ion-icon>    
      <ion-searchbar placeholder="Search hospitals, clinics" [(ngModel)]="searchterm" (ionChange)="searchChanged()" padding></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
