<ion-header>
    <ion-toolbar >   
      
      <!--<ion-title>
        Ayoos
      </ion-title>-->
          
      <ion-item>
      <ion-input placeholder="Search doctors" type="search"  padding></ion-input>
      <ion-icon name="search" slot="start"></ion-icon>
    </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button  (click)="dismissMe()" end>Cancel</ion-button>
    <ion-item>
  <ion-input clearinput placeholder="Clinic/Hospital"></ion-input>
</ion-item>
  <ion-item>
    <ion-label>Date</ion-label>
  <ion-datetime displayFormat="DD MMM YYYY H:mm" min="2019" max="2025" value="2019-03-17T11:06Z"></ion-datetime>
 </ion-item> 
 <ion-item>
   <ion-textarea placeholder="Enter more information here..."></ion-textarea>
 </ion-item>
 <ion-item>
  <ion-input placeholder="Upload Record"></ion-input>
  <ion-button slot="end">
    <ion-icon name="attach"></ion-icon>
  </ion-button>
</ion-item>
  <ion-button class="fullButton" padding>Upload</ion-button>
</ion-content>