<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ><strong>Book an Appointment</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img [src]="'data:' +  doctor
. imageContentType
+ ';base64,' + doctor
. image
"> 

  <div class="center">
    <strong><ion-label>{{keyCloakUser.firstName  + ' '}}
      <p *ngIf="keyCloakUser.lastName">{{keyCloakUser.lastName}}</p>
    </ion-label></strong><br>
    <ion-label color="secondary">{{doctor.specialization}}
      Years of Exp</ion-label><br>
    <!-- <ion-icon name="star" *ngFor="let index of genArray(doctoratings)"></ion-icon>
    <ion-icon name="star-half" *ngIf="doctor.ratings % 1 !=0"></ion-icon>
    <ion-badge>{{doctor.ratings}}</ion-badge> -->
  </div>
  <ion-item>
    <ion-label slot="start">Pick a date</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" min="2019" max="2025"
      value="2019-03-17T11:06Z"></ion-datetime>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="partly-sunny" slot="start"></ion-icon>
    <ion-label>Morning Session</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let slot of slotsMorningSession">
        <ion-button *ngIf="slot.status=='open'" color="medium-contrast"
          class="size-tile" [routerLink]="['/','appointment-confirmation',doctor.id]">
          <ion-label color="primary">{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</ion-label>
        </ion-button>
        <ion-button *ngIf="slot.status=='reserved'" color="secondary"
          class="size-tile" [routerLink]="['/','appointment-confirmation',doctor.id]">
          <ion-label color="primary">{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item lines="none">
    <ion-icon name="sunny" slot="start"></ion-icon>
    <ion-label>Afetrnoon Session</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let slot of slotsAfternoonSession">
        <ion-button *ngIf="slot.status=='open'" color="medium-contrast"
          class="size-tile" [routerLink]="['/','appointment-confirmation',doctor.id]">
          <ion-label color="primary">{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</ion-label>
        </ion-button>
        <ion-button *ngIf="slot.status=='reserved'" color="secondary"
          class="size-tile" [routerLink]="['/','appointment-confirmation',doctor.id]">
          <ion-label color="primary">{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item lines="none">
    <ion-icon name="moon" slot="start"></ion-icon>
    <ion-label>Evening Session</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let slot of slotsEveningSession">
        <ion-button *ngIf="slot.status=='open'" color="medium-contrast"
          class="size-tile" [routerLink]="['/','appointment-confirmation',doctor.id]">
          <ion-label color="primary">{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</ion-label>
        </ion-button>
        <ion-button *ngIf="slot.status=='reserved'" color="secondary"
          class="size-tile" [routerLink]="['/','appointment-confirmation',doctor.id]">
          <ion-label color="primary">{{slot.time.getHours()}}:{{slot.time.getMinutes()}}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
